.title {
  font-weight: var(--g-fontWeightSemibold);
  font-size: var(--g-fontSizeLarge);
  line-height: var(--g-fontLineHeightRegular);
  color: var(--g-colorBodyContent);
  margin: 0;
  margin-bottom: toRem(2);
}

.body {
  color: var(--g-colorBodySubContent);
  line-height: var(--g-fontLineHeightRegular);
  font-size: var(--g-fontSizeRegular);
}

.actions {
  margin-top: toRem(8);
}
