.root {
  display: flex;
  flex-direction: column;
  gap: toRem(32);
}

.sectionHeader {
  display: flex;
  flex-direction: column;
  gap: toRem(4);
}

.section {
  display: flex;
  flex-direction: column;
  gap: toRem(20);
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: toRem(12);
}
