:global(.GSDK) {
  .list.list {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding-inline-start: 0;
    padding: 0;

    :global(li) {
      margin-bottom: toRem(16);
      position: relative;

      &:not(:last-child) .listItem::after {
        content: '';
        position: absolute;
        left: toRem(15); // center of the icon
        top: toRem(30); // just below the icon
        width: 0;
        height: 100%; //account for the icon height
        margin: toRem(4) 0;
        border-left: 2px dotted var(--g-colorBorderPrimary);
        z-index: 0;
      }
    }
  }

  .listItem {
    display: flex;
    align-items: flex-start;
    gap: toRem(16);
    position: relative;
  }

  .listItemIcon {
    width: toRem(32);
    height: toRem(32);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: toRem(14);
    font-weight: var(--g-fontWeightSemibold);
    border: 1px solid var(--g-colorBorderSecondary);
    color: var(--g-colorBodyContent);
    background: var(--g-colorBody);
    flex-shrink: 0;

    &.success {
      background: var(--g-colorSuccessAccent);
      color: var(--g-colorSuccess);
      border-color: var(--g-colorSuccessAccent);
    }
  }
}
