:global(.GSDK) {
  .list {
    position: relative;
    width: 100%;
    list-style-type: none;
    padding: 0;
    gap: 0;

    :global(li) {
      margin-bottom: 0;
      position: relative;

      &:not(:last-child) .listItem::after {
        content: '';
        position: absolute;
        left: toRem(14); // center of the icon
        top: toRem(32); // just below the icon
        width: 0;
        height: calc(100% - toRem(32)); //account for the icon height
        margin: toRem(7) 0; //adding gap to the line
        border-left: 2px dotted var(--g-colorBorder);
        z-index: 0;
      }
    }
  }

  .listItem {
    display: flex;
    align-items: flex-start;
    gap: toRem(16);
    position: relative;
  }

  .listItemIcon {
    width: toRem(32);
    height: toRem(32);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: toRem(14);
    font-weight: var(--g-fontWeightSemibold);
    border: 1px solid var(--g-colorBorder);
    color: var(--g-colorBodyContent);
    background: var(--g-colorBody);

    &.success {
      background: var(--g-colorSuccessAccent);
      color: var(--g-colorSuccess);
      border-color: var(--g-colorSuccessAccent);
    }
  }
}
