.preparerActions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: toRem(12);
  width: 100%;
  padding-top: toRem(20);
  border-top: 1px solid var(--g-colorBorderSecondary);
}

.preparerAlert {
  border-top: 1px solid var(--g-colorBorderSecondary);
  padding-top: toRem(20);
  width: 100%;
}
