.emptyData {
  margin: toRem(40) 0;
  p {
    color: var(--g-colorBodyContent);
  }
  width: 100%;
}

.textContent {
  display: flex;
  flex-direction: column;
  gap: toRem(4);
  align-self: stretch;
  text-align: center;
}

.iconSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--g-colorBodySubContent);

  :global(svg) {
    display: block;
    width: toRem(36);
    height: toRem(36);
  }
}
