.emptyData {
  margin: toRem(40) 0;
  p {
    color: var(--g-colorBodyContent);
  }
  width: 100%;
}

.textContent {
  text-align: center;
}

.title {
  font-size: var(--g-fontSizeHeading3);
  font-weight: var(--g-fontWeightMedium);
  color: var(--g-colorBodyContent);
}

.image {
  max-width: 100%;
  display: block;
}

.iconSlot {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--g-colorBodySubContent);

  :global(svg) {
    display: block;
    width: toRem(48);
    height: toRem(48);
  }
}
