.root {
  max-height: inherit;
  box-sizing: border-box;
  outline: none;
  width: max-content;
  background-color: var(--g-colorBody);
  padding: toRem(6);
}

.menuItem {
  padding: toRem(8) toRem(10);
  outline: none;
  cursor: pointer;
  color: var(--g-colorBodyContent);
  font-size: var(--g-fontSizeSmall);
  font-weight: var(--g-fontWeightSemibold);
  position: relative;
  display: flex;
  align-items: center;
  gap: toRem(16);
  forced-color-adjust: none;
  border-radius: toRem(6);
  min-width: toRem(200);
  max-width: toRem(280);

  &:has(svg) {
    display: flex;
    gap: toRem(8);
    align-items: center;

    svg {
      color: var(--g-colorSecondaryContent);
    }
  }

  &[data-focused] {
    background: var(--g-colorBodyAccent);
    color: var(--g-colorBodyContent);
  }

  &[href] {
    text-decoration: none;
    cursor: pointer;
  }

  &[data-disabled] {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[data-destructive='true'] {
    color: var(--g-colorErrorContent);

    .menuIcon svg {
      color: var(--g-colorErrorContent);
    }

    &[data-focused] {
      background: var(--g-colorErrorAccent);
      color: var(--g-colorBody);

      .menuIcon svg {
        color: var(--g-colorBody);
      }
    }
  }
}

.menuIcon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: toRem(16);
  height: toRem(16);

  svg {
    width: toRem(16);
    height: toRem(16);
  }
}
