.root {
  font-size: var(--g-inputLabelFontSize);
  font-weight: var(--g-inputLabelFontWeight);
  color: var(--g-inputLabelColor);
  margin: 0;
  padding: 0;
  line-height: 1.3;

  &[data-required]::after {
    content: '\00a0*';
    color: var(--g-inputErrorColor);
  }
}
