.root {
  margin: 0;
  font-family: 'InterfaceLib Sans', Helvetica, Arial, sans-serif;
  font-weight: 600;
  line-height: 1.2;
  text-wrap: balance;
  letter-spacing: -0.01em;
}

.h1 {
  font-size: 32px;
  line-height: 1.1;
  letter-spacing: -0.02em;
}

.h2 {
  font-size: 25px;
  line-height: 1.15;
  letter-spacing: -0.015em;
}

.h3 {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 500;
}

.h4 {
  font-size: 24px;
  line-height: 1.25;
  font-weight: 500;
}

.h5 {
  font-size: 20px;
  line-height: 1.3;
  font-weight: 500;
}

.h6 {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 500;
}

.textAlign-start {
  text-align: start;
}

.textAlign-center {
  text-align: center;
}

.textAlign-end {
  text-align: end;
}
