.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  border: none;
  padding: 0;
  margin: 0;
}

.legendAndDescription {
  display: flex;
  flex-direction: column;

  &.withVisibleLegend {
    margin-bottom: toRem(12);
  }

  &.withDescription {
    margin-bottom: toRem(12);
  }
}

.errorMessage {
  margin-top: var(--g-spacing-4);
}
