.actionsRow {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  gap: toRem(8);
  width: 100%;
}

.actionsColumn {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: toRem(8);
  width: 100%;
}
