@use '@/styles/Helpers' as *;

.GSDK {
  font-family: var(--g-fontFamily);
  // All global styles go here
  // More accessible line-height
  line-height: var(--g-fontLineHeight);
  color: var(--g-colorBodyContent);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // More intuitive box-sizing
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  hr {
    width: 100%;
    border-top: 1px solid var(--g-colorBorderSecondary);
    opacity: 1;
  }
}
