@use '@/styles/Helpers' as *;

.GSDK {
  font-family: var(--g-fontFamily);
  // All global styles go here
  // More accessible line-height
  line-height: var(--g-fontLineHeight);
  color: var(--g-colorBodyContent);

  // More intuitive box-sizing
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  hr {
    width: 100%;
    border-top: 1px solid var(--g-colorBorder);
    opacity: 1;
  }
}
