.emptyStateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--g-colorBorderSecondary);
  border-radius: toRem(8);
  min-height: toRem(410);
  height: 100%;
}

.coinHandsIconContainer {
  border: 1px solid var(--g-colorBorderPrimary);
  border-radius: toRem(11);
  padding: toRem(11);
  box-shadow: var(--g-shadowResting);
}

.plusCircleIcon {
  margin-right: toRem(4);
}
