.root {
  display: flex;
  align-items: center;
  background: #ffffff;
  color: var(--color-text);
  padding: 0.75rem 1rem;
  gap: 1rem;
  flex-shrink: 0;
  font-size: 0.8125rem;
  z-index: 10;
  border-bottom: 1px solid var(--color-border);
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.05);
}

.title {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--color-text);
}

.designTitle {
  font-weight: 400;
  font-size: 1rem;
  color: var(--color-text-muted);
  margin-left: 0.25rem;
}

.spacer {
  flex: 1;
}
