.root {
  width: 100%;

  dt {
    font-weight: var(--g-fontWeightMedium);
    color: var(--g-colorBodyContent);
  }

  dd {
    font-weight: var(--g-fontWeightRegular);
    color: var(--g-colorBodySubContent);
  }

  .item {
    &:not(:last-child) {
      padding-bottom: toRem(20);
      margin-bottom: toRem(20);
      border-bottom: 1px solid var(--g-colorBorderSecondary);
    }
  }
}
