@use '@/styles/Helpers' as *;

.root {
  width: 100%;

  .item {
    &:not(:last-child) {
      padding-bottom: toRem(20);
      margin-bottom: toRem(20);
      border-bottom: 1px solid var(--g-colorBorder);
    }
  }
}
