.popoverContent {
  padding: toRem(16);
  display: flex;
  flex-direction: column;
  gap: toRem(16);
}

.dateInputGroup {
  display: flex;
  align-items: flex-end;
  gap: toRem(8);
}

.dateInputWrapper {
  display: flex;
  flex-direction: column;
  gap: toRem(4);
  flex: 1;
}

.dateInputLabel {
  font-size: var(--g-fontSizeExtraSmall);
  color: var(--g-colorBodyContent);
  font-weight: 500;
}

.dateInput {
  display: flex;
  font-size: var(--g-fontSizeSmall);
  padding: toRem(8) toRem(12);
  height: toRem(40);
  white-space: nowrap;
  forced-color-adjust: none;
  border: var(--g-inputBorderWidth) solid var(--g-inputBorderColor);
  border-radius: var(--g-inputRadius);
  background-color: var(--g-inputBackgroundColor);
  color: var(--g-inputContentColor);

  &[data-focus-within] {
    outline: var(--g-focusRingWidth) solid var(--g-focusRingColor);
    outline-offset: calc(var(--g-inputBorderWidth) * -1);
  }

  :global(.react-aria-DateSegment) {
    padding: 0 2px;
    font-variant-numeric: tabular-nums;
    text-align: end;
    color: var(--g-inputContentColor);
    border-radius: 4px;

    &[data-type='literal'] {
      padding: 0;
    }

    &[data-placeholder] {
      color: var(--g-inputPlaceholderColor);
    }

    &[data-hovered] {
      color: var(--g-colorBodyContent);
      background-color: var(--g-colorBodyAccent);
    }

    &:focus {
      color: var(--g-colorPrimaryContent);
      background: var(--g-colorPrimary);
      outline: none;
      caret-color: transparent;
    }
  }
}

.rangeSeparator {
  color: var(--g-colorBodyContent);
  padding-bottom: toRem(10);
}

.rangeCalendar {
  width: fit-content;
  max-width: 100%;
  color: var(--g-colorBodyContent);
  font-weight: 400;
  font-size: var(--g-fontSizeSmall);
  overflow-x: hidden;
}

.calendarHeader {
  display: flex;
  align-items: center;
  padding: toRem(8);
}

.calendarHeading {
  flex: 1;
  margin: 0;
  text-align: center;
  font-size: var(--g-fontSizeSmall);
}

.calendarNavButton {
  width: toRem(36);
  height: toRem(36);
  padding: 0;
  border-radius: 999px;
  background-color: unset;
  border: none;
  color: var(--g-colorBodyContent);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-focus-visible] {
    outline: var(--g-focusRingWidth) solid var(--g-focusRingColor);
    outline-offset: 2px;
  }

  &[data-hovered] {
    background-color: var(--g-colorBodyAccent);
  }
}

.calendarGrid {
  margin: 0 toRem(8) toRem(8) toRem(8);
  border-collapse: separate;
  border-spacing: 0 toRem(3);
  width: toRem(286);

  :global(.react-aria-CalendarGridHeader) {
    border-bottom: 1px solid var(--g-colorBorderSecondary);

    th {
      padding-bottom: toRem(8);
      text-align: center;
      color: var(--g-colorBodyContent);
      font-weight: 400;
    }
  }

  td {
    height: toRem(44);
    padding: toRem(2) 0;

    &:has([data-selected]),
    &:has([data-in-range]) {
      background: var(--g-colorPrimaryAccent);
    }

    &:has([data-selection-start]) {
      border-radius: toRem(6) 0 0 toRem(6);
      background: var(--g-colorPrimaryAccent);
    }

    &:has([data-selection-end]) {
      border-radius: 0 toRem(6) toRem(6) 0;
      background: var(--g-colorPrimaryAccent);
    }
  }
}

.calendarCell {
  width: toRem(32);
  line-height: toRem(32);
  text-align: center;
  border-radius: toRem(6);
  cursor: pointer;
  outline: none;
  margin: 1px;
  forced-color-adjust: none;

  &[data-outside-month] {
    display: none;

    &[data-in-range] {
      display: block;
      color: var(--g-colorPrimaryContent);
      border-radius: 0;
      cursor: default;
    }
  }

  &[data-hovered] {
    background: var(--g-colorBodyAccent);
  }

  &[data-pressed] {
    background: var(--g-colorPrimary);
    color: var(--g-colorPrimaryContent);
  }

  &[data-focus-visible] {
    outline: var(--g-focusRingWidth) solid var(--g-focusRingColor);
    outline-offset: 2px;
  }

  &[data-selected] {
    color: var(--g-colorPrimaryContent);
    border-radius: 0;
  }

  &[data-selection-start] {
    background: var(--g-colorPrimary);
    color: var(--g-colorPrimaryContent);
    border-radius: toRem(6);
  }

  &[data-selection-end] {
    background: var(--g-colorPrimary);
    color: var(--g-colorPrimaryContent);
    border-radius: toRem(6);
  }

  &[data-disabled] {
    cursor: not-allowed;
    display: block;
    opacity: 0.5;
  }
}
