.headerContent {
  flex-shrink: 0;
}

.container {
  container-type: inline-size;
  width: 100%;
}

.paystubIconWrapper {
  display: flex;
  justify-content: flex-start;

  @include container-query(map-get($global-breakpoints, 'small')) {
    justify-content: flex-end;
  }
}

.actionsContainer {
  display: flex;
  flex-direction: column;
  gap: toRem(12);
  align-items: stretch;
  width: 100%;

  @include container-query(map-get($global-breakpoints, 'small')) {
    flex-direction: row;
    align-items: center;
    width: auto;
  }
}
