.list {
  margin: 0;
  padding: 0 0 0 toRem(16);
  list-style-position: outside;

  &[data-variant='ordered'] {
    list-style-type: decimal;
    counter-reset: item;
    .item {
      margin-bottom: toRem(8);
    }
  }

  &[data-variant='unordered'] {
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: toRem(12);
    padding: 0 0 0 toRem(24);
  }

  .item {
    &:last-child {
      margin-bottom: 0;
    }
  }
}
