.list {
  margin: 0;
  padding: 0 0 0 toRem(24);
  list-style-position: outside;
  display: flex;
  flex-direction: column;
  gap: toRem(12);

  &[data-variant='ordered'] {
    list-style-type: decimal;
    counter-reset: item;
  }

  &[data-variant='unordered'] {
    list-style-type: disc;
  }
}
