h5.columnTitle {
  font-size: var(--g-fontSizeSmall);
  font-weight: var(--g-fontWeightMedium);
  color: var(--g-colorBodySubContent);
  margin: 0;
}

.columnData {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
  color: var(--g-colorBodyContent);
}

.columnPrimary {
  color: inherit;
}

.columnSecondary {
  color: var(--g-colorBodySubContent);
  font-size: var(--g-fontSizeSmall);
}

.footerItem {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}

.footerSecondary {
  color: var(--g-colorBodySubContent);
  font-size: var(--g-fontSizeSmall);
}

.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-end;
}
