.actionsContainer {
  display: flex;
  gap: toRem(4);
  align-items: center;
  justify-content: flex-end;
}

.alertContainer {
  width: 100%;
}

.container {
  container-type: inline-size;
  width: 100%;
}

.payPeriodCell {
  display: flex;
  flex-direction: column;
  white-space: nowrap;
}
