.paginationControl {
  width: 100%;
  margin-bottom: var(--g-spacing-20);
  font-size: toRem(14);
  margin-top: var(--g-spacing-8);

  &Count {
    display: flex;
    align-items: center;
    gap: var(--g-spacing-12);
  }

  &Buttons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
  }

  & .react-aria-Select {
    width: auto;
  }
}
