.emptyStateContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: toRem(410);
}

.coinHandsIconContainer {
  border: 1px solid var(--g-colorBorder);
  border-radius: toRem(8);
  padding: 8px;
}

.plusCircleIcon {
  margin-right: toRem(4);
}

.addDeductionButton {
  &#{&}#{&}#{&} {
    border-color: var(--g-colorBorder);
  }
}
