@mixin justifyContent($vals) {
  @each $val in $vals {
    justify-content: $val;
  }
}
.flex {
  width: 100%;
  display: flex;
  @each $val in normal center flex-start flex-end space-between space-around space-evenly {
    &-jc-#{$val} {
      justify-content: $val;
    }
  }
  @each $val in column row {
    &-fd-#{$val} {
      flex-direction: $val;
    }
  }
  @each $val in center flex-start flex-end stretch {
    &-ai-#{$val} {
      align-items: $val;
    }
  }

  @each $key, $val in (sm: 8px, md: 16px, lg: 24px, xl: 32px, '2xl': 40px) {
    &-gap-#{$key} {
      gap: $val;
    }
  }
}
