.banner {
  box-shadow: var(--g-shadowResting);
  border-radius: toRem(12);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .header {
    background-color: rgb(80, 80, 80);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: toRem(8);
    border-radius: toRem(12) toRem(12) 0 0;
  }

  .labelContainer {
    display: flex;
    align-items: center;
    gap: toRem(8);
  }

  .label {
    font-size: var(--g-fontSizeRegular);
    font-weight: var(--g-fontWeightMedium);
    color: white;
  }

  .icon {
    width: toRem(38);
    height: toRem(38);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;

    svg path {
      stroke: white;
    }
  }
  .dismiss {
    svg path {
      stroke: white;
    }
  }

  .contentContainer {
    border: 1px solid var(--g-colorBorder);
    border-top: none;
    padding: toRem(16);
    border-radius: 0 0 toRem(12) toRem(12);
  }
  .content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: toRem(16);
  }

  .actions {
    display: flex;
    gap: toRem(4);
    justify-content: flex-start;
  }

  &[data-variant='error'] {
    .header {
      background-color: #d92d20;
    }
  }
  &[data-variant='warning'] {
    .header {
      background-color: #dc6803;
    }
  }
  &[data-variant='success'] {
    .header {
      background-color: #079455;
    }
  }
}
