.title {
  margin: 0 0 toRem(8) 0;
}

.subtitle {
  margin: 0;
  color: var(--g-colorPrimaryAccent);
}

.fieldLabel {
  display: block;
  font-weight: var(--g-fontWeightSemibold);
  margin-bottom: toRem(4);
  font-size: toRem(14);
}

.fieldValue {
  display: block;
  font-size: toRem(16);
  color: var(--g-colorBodySubContent);
}

.requirementsCard {
  background-color: var(--g-colorBody);
  padding: toRem(16);
  border-radius: toRem(8);
  width: 100%;

  hr {
    border: none;
    border-top: 1px solid var(--g-colorBorder);
    margin: 0;
  }
}

.requirementsHeader {
  display: flex;
  justify-content: flex-start;
  gap: toRem(8);
}

.requirementsTitle {
  font-weight: var(--g-fontWeightSemibold);
}

.requirementsListWrapper {
  margin-left: toRem(20);
}

.requirementsList {
  margin: 0 0 0 toRem(20);
  padding-left: toRem(20);
  color: var(--g-colorPrimaryAccent);
}

.copyButton {
  padding: toRem(8);
  min-width: auto;

  svg {
    display: block;
  }
}

.copiedMessage {
  margin-top: toRem(4);
  font-size: toRem(12);
  color: var(--g-colorSuccessAccent);
}

.wireInstructionsContainer {
  width: 100%;
}

.footer {
  position: sticky;
  bottom: toRem(-24);
  display: flex;
  gap: toRem(12);
  width: calc(100% + toRem(48));
  margin-top: toRem(24);
  padding-top: toRem(24);
  margin-left: toRem(-24);
  margin-right: toRem(-24);
  margin-bottom: toRem(-24);
  padding-left: toRem(24);
  padding-right: toRem(24);
  padding-bottom: toRem(24);
  border-top: 1px solid var(--g-colorBorder);
  box-shadow: 0 toRem(-8) toRem(16) 0 rgba(0, 0, 0, 0.08);
  background-color: var(--g-colorBody);
}

.footerButton {
  flex: 1;
  width: 100%;
}

.requirementsIcon {
  width: toRem(24);
  height: toRem(24);
  fill: var(--g-colorBodySubContent);
}
