.title {
  margin: 0 0 toRem(8) 0;
  font-size: toRem(20);
  font-weight: 600;
  line-height: 1.4;
}

.subtitle {
  margin: 0;
  color: var(--g-colorPrimaryAccent);
  line-height: 1.5;
}

.fieldLabel {
  display: block;
  font-weight: 600;
  margin-bottom: toRem(4);
  font-size: toRem(14);
}

.fieldValue {
  display: block;
  font-size: toRem(16);
  color: var(--g-colorPrimaryAccent);
}

.requirementsCard {
  background-color: var(--g-colorBody);
  padding: toRem(16);
  border-radius: toRem(8);
  width: 100%;
}

.requirementsList {
  margin: 0;
  padding-left: toRem(20);
  color: var(--g-colorPrimaryAccent);

  li {
    margin-bottom: toRem(8);
    line-height: 1.5;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.copyButton {
  padding: toRem(8);
  min-width: auto;

  svg {
    display: block;
  }
}

.copiedMessage {
  margin-top: toRem(4);
  font-size: toRem(12);
  color: var(--g-colorSuccess);
}

.wireInstructionsContainer {
  width: 100%;
}
