.container {
  position: relative;
  width: 100%;
}

.inputContainer {
  max-width: toRem(160);
}

.earningsAlert {
  padding: toRem(20) toRem(20) 0;
}

.earningsGroupLabel {
  padding: toRem(20) toRem(20) toRem(12);
}

.earningsIncludedDivider {
  border-bottom: 1px solid var(--g-colorBorderSecondary);
}
