.inlineSpinner {
  display: inline-flex;
  align-items: center;
  color: var(--g-colorPrimary);
}

.spinnerIcon {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
