.bodyContent {
  padding: 2rem;
  max-width: 1200px;
  margin: 0 auto;
  transition: max-width 0.2s ease;
}

.switcherContainer {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  z-index: 100;
}
